<div class="cms-toolbar">
  visual edit mode:
  <% if session[:visual_edit] %>
    on/<a href="/visual_edit_mode/?state=off">off</a>
  <% else %>
    <a href="/visual_edit_mode/?state=on">on</a>/off
  <% end %>,
  version: <%= @page.version %>,
  name: <%= @page.name %>,
  title: <%= @page.title || "<em>empty</em>".html_safe %>
</div>