<li class="node node-depth-<%= section.depth %> section">
  <span class="node-line section-line">
    <span class="node-name section-name">
      <%= section.name %>
      <small>
        Section
      </small>
    </span>
    <span class="node-options section-options">
    </span>
  </span>
  <% if section.children.present? %>
    <ul>
      <%= render section.children %>
    </ul>
  <% end %>
</li>