<li class="node page">
  <span class="node-line page-line">
    <span class="node-name page-name">
      <%= page.name %>
      <small>
        <% if page.parent.path == page.path %>
          Default
        <% end %>
        Page
      </small>
    </span>
    <span class="node-options page-options">
      <%= link_to "Show", page.path %>
      <%= link_to "Edit", edit_page_path(page) %>
      <%= link_to "Delete", page_path(page) %>
    </span>
  </span>
</li>
