<ul>
  <% @connectables.each do |connectable| %>
    <li>
      <%= link_to connectable.to_s, send(:"new_#{connectable.to_s.underscore}_path", container: @container, page_id: @page_id) %>
    </li>
  <% end %>
</ul>