<div class="cms-navigation">
  <div class="cms-navigation-logo">
    <%= link_to "Grantox", root_path %>
  </div>
  <div class="cms-navigation-items">
    <ul>
      <li><%= link_to "Library", content_blocks_path %></li>
      <li><%= link_to "Sitemap", nodes_path %></li>
    </ul>
  </div>
</div>
