<p class="cms-navigation" style="margin: 0; padding: 0; margin-bottom: 0.5em;">
  <%= link_to "Home", root_path %>
  •
  <%= link_to "Sitemap", nodes_path %>
  •
  <%= link_to "Content Library", content_blocks_path %>
</p>
