/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Helvetica Neue";
}

.cms-toolbar {
  background-color: #CCCCCC;
  padding: 10px;
  margin-bottom: 2em;
  border: 1px solid black;
}

.cms-page-edit-toolbar {
  border: 1px solid black;
  margin-bottom: 1.5em;
  background-color: #CCCCCC;
  border-bottom: 1px solid #000000;
}

.cms-edit-border {
  border: 1px solid black;
  margin-bottom: 1.5em;
  .cms-edit-toolbar {
    background-color: #CCCCCC;
    border-bottom: 1px solid #000000;
    .cms-edit-toolbar-button {
      
    }
  }
}

ul.nodes {
  list-style: none;
  margin: 0;
  padding: 0;
  small {
    opacity: 0.4;
  }
  li {
    margin: 0;
    padding: 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .node {
    &.node-depth-0.section {
      .node-line {
        padding-left: 5px;
      }
      ul .node-line {
        padding-left: 25px;
      }
    }
    &.node-depth-1.section {
      .node-line {
        padding-left: 25px;
      }
      ul .node-line {
        padding-left: 45px;
      }
    }
    &.node-depth-2.section {
      .node-line {
        padding-left: 45px;
      }
      ul .node-line {
        padding-left: 65px;
      }
    }
    &.node-depth-3.section {
      .node-line {
        padding-left: 65px;
      }
      ul .node-line {
        padding-left: 85px;
      }
    }
    &.node-depth-4.section {
      .node-line {
        padding-left: 85px;
      }
      ul .node-line {
        padding-left: 105px;
      }
    }
    
    
    
    .node-line {
      display: block;
      padding: 5px;
      margin-bottom: 1px;
      .node-name {
      }
      .node-options {
      }
    }
  }
  .section {
    .section-line {
      background-color: #6DCCF8;
      .section-name {
      }
      .section-options {
      }
    }
  }
  .page {
    .page-line {
      background-color: #FDC700;
      .page-name {
      }
      .page-options {
      }
    }
  }
}